#textdomain wesnoth-ivl
[scenario]
    id=01_The_Beginning
    name= _ "The beginning"
    map_data="{~add-ons/The_undoing_of_Ivlentiy_the_Great/maps/1a}"
    {SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "wanderer.ogg"}
    {TURNS 12 15 18}
    next_scenario="02_Rulers_of_the_caves"

    {DEFAULT_SCHEDULE}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Survive for 3 days"
                condition=win
                show_turn_counter=yeas
            [/objective]
            [objective]
                {ALTERNATIVE_OBJECTIVE_CAPTION}
                description= _ "Defeat the Orcs"+{EARLY_FINISH_BONUS_FOOTNOTE}
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Father"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Ivlentiy"
                condition=lose
            [/objective]

            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    {~add-ons/The_undoing_of_Ivlentiy_the_Great/utils/intro.cfg}
    [side]
        type=Sinklar
        id=Sinklar
        name= _ "Sinklar"
        unrenamable=yes
        profile=portraits/sinklar.png
        side=1
        canrecruit=yes
        recruit=Mage,Spearman,Horseman,Heavy Infantryman,Bowman
        fog=yes
        team_name=Loyalists
        user_team_name=_"Loyalists"
        controller=human
        {GOLD 100 200 250}
        [unit]
            id=Ivlentiy
            name= _ "Ivlentiy"
            unrenamable=yes
            type=Courtier Mage
            profile=portraits/delfador.png
            side=1
            x=39
            y=11
            {IS_HERO}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        {FLAG_VARIANT long}
    [/side]

    [side]
        type=General
        id="Father"
        name= _ "Father"
        experience=0
        side=2
        canrecruit=yes
        recruit=Dragoon,Knight,Longbowman,White Mage,Mage,Spearman,Horseman,Heavy Infantryman,Bowman
        {GOLD 1000 800 400}
        {INCOME 8 6 4}
        team_name=Loyalists
        user_team_name=_"Loyalists"
        [ai]
            aggression=0.0
            caution=100.0
            grouping=defensive
        [/ai]
        {FLAG_VARIANT6 ragged}
    [/side]

    [side]
        type=Orcish Warlord
        id="Bardar Bu'dar"
        name= _ "Bardar Bu'dar"
        experience=0
        side=3
        canrecruit=yes
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll,Orcish Slayer,Orcish Crossbowman
        [ai]
            {ATTACK_DEPTH 4 5 5}
            recruitment_pattern=scout,scout,fighter,fighter,archer
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            aggression=0.75
            caution=-1.0
        [/ai]
        {GOLD 200 400 600}
        {INCOME 2 4 8}
        team_name=orcs
        user_team_name=_"Orcs"
        {FLAG_VARIANT6 ragged}
    [/side]
    [side]
        type=Orcish Warlord
        id="Durdar Ru'bal"
        name= _ "Durdar Ru'bal"
        experience=0
        side=4
        canrecruit=yes
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll,Orcish Slayer,Orcish Crossbowman
        [ai]
            {ATTACK_DEPTH 4 5 5}
            recruitment_pattern=scout,scout,fighter,fighter,archer
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            aggression=0.75
            caution=-1.0
        [/ai]
        {GOLD 150 300 400}
        {INCOME 2 4 6}
        team_name=orcs
        user_team_name=_"Orcs"
        {FLAG_VARIANT6 ragged}
    [/side]
    [side]
        type=Orcish Warlord
        id="Kardar The fool"
        name= _ "Kardar The fool"
        experience=0
        side=5
        canrecruit=yes
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer
        [ai]
            {ATTACK_DEPTH 4 5 5}
            recruitment_pattern=scout,scout,fighter,fighter,archer
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            aggression=0.75
            caution=-1.0
        [/ai]
        {GOLD 100 200 250}
        {INCOME 2 4 8}
        team_name=orcs
        user_team_name=_"Orcs"
        {FLAG_VARIANT6 ragged}
    [/side]
    [side]
        type=Lich
        id="Powerful Lich"
        name= _ "Powerful Lich"
        experience=0
        side=6
        canrecruit=yes
        recruit=Skeleton,Revenant,Chocobone,Wraith,Bone Shooter,Dark Adept,Walking Corpse
        {GOLD 500 600 800}
        {INCOME 2 4 8}
        team_name=Undead
        user_team_name=_"Undead"
        {FLAG_VARIANT6 ragged}
    [/side]

    {FIRE_TRAP 20}
    {POISON_TRAP 15}
    {TRAPS}

    [event]
        name=start
        {GENERIC_UNIT 2 "Peasant" 29 22} {GUARDIAN}
        {GENERIC_UNIT 1 "Spearman" 40 16}
        {VARIABLE lawful 0}
        {VARIABLE good 0}
        {VARIABLE father 0}
        {VARIABLE time 0}
        #   {MOVE_UNIT type=Peasant 48 10}

        {MOVE_UNIT type=Peasant 37 19}
        [message]
            type=Spearman
            message= _ "By the name of Lord Gotthard, I command you to stop!"
        [/message]

        [message]
            type=Peasant
            message= _ "Orcs! The army is approaching from the west. They've burnt my village. I'm begging for protection!"
        [/message]
        [message]
            type=Spearman
            message= _ "Follow me! You should tell His Lordship everything you know about the threat, and you'll be allowed to stay in the castle till it passes away."
        [/message]
        {MOVE_UNIT type=Peasant 48 10}
        [message]
            speaker=Father
            message= _ "Foul creatures thirst after our blood... I will make them regret coming to my lands."
        [/message]
        [message]
            speaker=Ivlentiy
            message= _ "Your lordship..."
        [/message]
        [message]
            speaker=Father
            message= _ "There's one thing that concerns me most of all. I've seen the results of Sinklar's education, Ivlentiy. She is brave but reasonable, and her presence can help me a lot at the battlefield. But isn't she still a child? Should I let her command my troops anyway?"
        [/message]
        [message]
            speaker=Ivlentiy
            message= _ "Your lordship... Someone is awaking undead in the swamps. I have discovered a powerful magic field recently. Looks like we are going to face another threat from the south. No time to worry, your lordship, your daughter is firm enough to lead the army into battle. She is prepared."
        [/message]
        [message]
            speaker=Father
            message= _ "Too bad... I hope we can make them fight with each other and escape confrontation, but it's our only chance to survive. I have no choice. %spearmanname%, find Sinklar and tell her to visit my chambers."
        [/message]
        [message]
            type=Spearman
            message= _ "Yes, your lordship."
        [/message]
        # move sinklar here
        [message]
            speaker=Sinklar
            message= _ "A am here, father. What happened? You don't look yourself."
        [/message]
        [message]
            speaker=Father
            message= _ "Darkness is coming onto our land, my dear child. We should be brave facing countless battles, otherwise, there's no chance to survive. Have you heard about orcs and undeads approaching?"
        [/message]
        [message]
            speaker=Sinklar
            message= _ "..." # *says nothing, looks concerned* (need portrait)
        [/message]
        [message]
            speaker=Father
            message= _ "I need your help. I have a plan, that requires splitting our troops. If it works properly, we will crucify the enemy without losing much. I'm not able to coordinate our warriors all alone, that's why I'm calling for you. You have to lead these people to victory, my child."
        [/message]
        [message]
            speaker=Sinklar
            [option]
                message= _ "Yes, father. I swear to defend our lands and people to the last drop of blood."
                [command]
                    [message]
                        speaker=Sinklar
                        message= _ "Yes, father. I swear to defend our lands and people to the last drop of blood."
                    [/message]
                    {VARIABLE lawfull "$(1 + $lawfull)"}
                    [message]
                        speaker=Father
                        message= _ "One day you'll become a great leader, my dear. I'm so proud of you!"
                    [/message]
                [/command]
            [/option]

            [option]
                message= _ "... (say nothing)"
                #*looks confused*
                [command]
                    [message]
                        speaker=Ivlentiy
                        message= _ "Don't be afraid. You're already skilled enough for this. Remember lessons I gave you from the Haldric's II handbook of Tactical Analysis. Everything will be fine, if you follow them. And I'm always here at your service, if you need any advice"
                    [/message]
                [/command]
            [/option]

            [option]
                message= _ "War scares me, father. I can't lead our people to death. There must be another way..."
                [command]
                    {VARIABLE good "$(1 + $good)"}
                    [message]
                        speaker=Sinklar
                        message= _ "War scares me, father. I can't lead our people to death. There must be another way..."
                    [/message]
                    [message]
                        speaker=Father
                        message= _ "Oh, my dear little child... We are surrounded by enemies now. It's time to make hard decisions and to do unpleasant things in order to survive. I'm sorry for letting you through this..."
                    [/message]
                    [message]
                        speaker=Sinklar
                        message= _ "I understand. It's my duty, and I'll try my best for the sake of peace."
                    [/message]
                [/command]
            [/option]

            [option]
                message= _ "War scares me, father. I wish I could lead a peaceful life somewhere far away..."
                [command]
                    {VARIABLE lawfull "$($lawfull - 1)"}
                    [message]
                        speaker=Sinklar
                        message= _ "War scares me, father. I wish I could lead a peaceful life somewhere far away..."
                    [/message]
                    [message]
                        speaker=Ivlentiy
                        message= _ "You can't change the place and time of your birth, young lady. Escaping responsibilities is tempting at first, but bitter and regretful after this is done, believe me."
                    [/message]
                    [message]
                        speaker=Sinklar
                        message= _ "*looks ashamed* I didn't mean to... Sure, I'll lead the army."
                    [/message]
                [/command]
            [/option]
        [/message]
        # [message]
        #       speaker=Sinklar
        #                 message= _ "War sc
        # [/message]
    [/event]

 
    [event]
        first_time_only=no
        name=moveto
        [filter]
            side=1
            x=42
            y=15
        [/filter]

        [message]
            speaker=unit
            [option]
                message= _ "up bridge"
                [command]
                    [terrain]
                        x=39
                        y=18
                        terrain=Wwt
                    [/terrain]
                [/command]
            [/option]

            [option]
                message= _ "down bridge"
                [command]
                    [terrain]
                        x=39
                        y=18
                        terrain=Wwt^Bsb/
                    [/terrain]
                [/command]
            [/option]
            [option]
                message= _ "trap"
                [command]
                    {USE 20 40 18}
                    [terrain]
                        x=45,46,47
                        y=17,15,10
                        layer=overlay
                        terrain=^Tpf
                    [/terrain]
                [/command]
            [/option]
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Ivlentiy
        [/filter]
        [message]
            speaker=unit
            message= _ "My circle has come to an end..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Sinklar
        [/filter]
        [if]
            [varaible]
                name=lawfull
                numerical_equals=1
            [/varaible]
            [then]
                [message]
                    speaker=Sinklar
                    message= _ "I am sorry, father!"
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Sinklar
                    message= _ "I love you, father!"
                [/message]
            [/else]
        [/if]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=moveto
        first_time_only=yes
        [filter]
            x=27,27,27,27,27,28,28,28,28,28,29,29,29
            y=23,24,25,26,23,24,25,26,23,24,25,26,27

            [not]  
                race=human  
            [/not]  
        [/filter]
            # we could set some additional condition here
         [message]
            speaker=Father
            message= _ "Enemies are coming, but they won't make us surrender! We will win this battle and protect our land!"
                    [/message]
        [message]
                speaker=Spearman
                message= _ "For Gotthard!"
        [/message]

    [/event]
    #
    #     [event]
    #         name=die
    #         [filter]
    # id=Bardar Bu'dar,Durdar Ru'bal
    #
    #
    #      [/filter]
    #
    #
    #         [endlevel]
    #             result=victory
    #             bonus=no
    #             {NEW_GOLD_CARRYOVER 40}
    #         [/endlevel]
    #     [/event]

    [event]
        name=time over
        [modify_turns]
            add=6
        [/modify_turns]

        [move_unit_fake]
            type=Draug
            side=6
            x=50,49
            y=5,6
        [/move_unit_fake]
        [unit]
            side=5
            x=49
            y=6
            type=Draug
            generate_name=yes
            random_traits=yes
            random_gender=yes
            canrecruit=yes
        [/unit]
        {GENERIC_UNIT 5 "Bone Shooter" 49 6}
        {GENERIC_UNIT 5 "Revenant" 53 4}
        {GENERIC_UNIT 5 "Bone Shooter" 53 5}
        {GENERIC_UNIT 5 "Deathblade" 55 6}
        {GENERIC_UNIT 5 "Deathblade" 54 5}
        [message]
            speaker=Father
            message= _ "They are coming from our rear... Run away, my dear daughter, save your life. They won't follow you through dwarvish caves, so go through that mountain. Don't worry about me, they won't take me that easy *smirks*."
        [/message]
        [message]
            speaker=Sinklar
            message= _ "Dad..."
        [/message]
        [message]
            speaker=Ivlentiy
            message= _ "We should run now, young lady. Let's go."
        [/message]
        [message]
            speaker=Father
            message= _ "Ivlentiy will be around to protect you. Take care!"
        [/message]
        [set_variable]
            name=father
            value=1
        [/set_variable]
        {HIGHLIGHT_IMAGE 47 1 scenery/signpost.png ()}
        [remove_item]
            x,y=47,1
        [/remove_item]
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Escape to the northwest"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of the heroes"
            [/objective]

            [gold_carryover]
                bonus=no
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        {VARIABLE time 1}
        {VARIABLE father 1}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Father
        [/filter]
        [message]
            speaker=unit
            message= _ "I hope my death will be avenged"
        [/message]
        [if]
            [varaible]
                name=time
                numerical_equals=1
            [/varaible]
            [then]
                [message]
                    speaker=Ivlentiy
                    message= _ "He sacrifice his life to save you..."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=second_unit
                    message= _ "You are so pathetic without your leader!"
                [/message]
                [endlevel]
                    result=defeat
                [/endlevel]
            [/else]
        [/if]
    [/event]

    [event]
        first_time_only=no
        name=moveto
        [filter]
            id=Sinklar
            x,y=47,1
        [/filter]
        [if]
            [variable]
                name=time
                numerical_equals=1
            [/variable]
            [then]
                [endlevel]
                    result=victory
                    bonus=no
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/then]
        [/if]
    [/event]
[/scenario]

