#textdomain wesnoth-smm

[multiplayer]
    id=6p_caves_in_the_space

    name= _ "6p_caves_in_the space"

    map_data="{~add-ons/factions_at_global_war/maps/caves_in_the_space.map}"
    description= _ "Too small for six fractions"
    random_start_time="no"

    require_scenario="yes"
    addon_min_version="0.4.2"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}
    {ABILS}
    {PENTAGRAM 15}



    [side]
        side=1
        type=Dwarvish Steelclad

        canrecruit=yes
        recruit=Dwarvish Guardsman,Dwarvish Fighter,Dwarvish Ulfserker,Dwarvish Thunderer,Thief,Poacher,Footpad,Gryphon Rider
        controller=human
        team_name=Knalgan Alliance
        user_team_name= _ "teamname^Knalgan Alliance"
        gold=200
        village_gold=1
        fog=yes
        faction_lock=true
        leader_lock=true
    [/side]


    [side]
        side=2
        type=Elvish Captain

        canrecruit=yes
        recruit=Elvish Fighter,Elvish Archer,Mage,Elvish Shaman,Elvish Scout,Wose,Merman Hunter
        controller=human
        team_name=Rebels
        user_team_name= _ "teamname^Rebels"
        gold=100
        village_gold=1
        fog=yes
        faction_lock=true
        leader_lock=true
    [/side]
    [side]
        side=3

        type=Orcish Warrior
        canrecruit=yes
        recruit=Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Naga Fighter,Goblin Spearman
        controller=human
        team_name=Northerners
        user_team_name= _ "teamname^Northerners"
        gold=80
        village_gold=1
        fog=yes
        faction_lock=true
        leader_lock=true
    [/side]

    [side]
        side=4

        canrecruit=yes
        type=Drake Flare
        recruit=Drake Burner,Drake Clasher,Drake Glider,Drake Fighter,Saurian Skirmisher,Saurian Augur
        controller=Human
        gold=175

        team_name=Drakes
        user_team_name= _ "teamname^Drakes"

        village_gold=1
        fog=yes
        faction_lock=true
        leader_lock=true
    [/side]

    [side]
        side=5
        type=Dark Sorcerer

        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Dark Adept,Ghoul
        controller=human
        team_name=Undead
        user_team_name= _ "teamname^Undead"
        gold=75
        village_gold=1
        fog=yes
        faction_lock=true
        leader_lock=true
    [/side]
    [side]
        side=6
        canrecruit=yes
        type=Dune Explorer
        recruit=Dune Rover,Dune Soldier,Dune Piercer,Dune Rider,Dune Herbalist,Dune Burner,Falcon
        team_name=Khalifate
        user_team_name= _ "teamname^Khalifate"
        village_gold=1
        fog=yes
    [/side]

    [event]
        name=start
        [message]
            message= _ "This map introduces special features for six races:
        * Rebels could use woses to grow new forest
        * Northerners are able to destroy villages with wolf riders to get some gold
        * Loyalists's peasants are able to build villages
        * Knalgan Alliance could use their warriors to build castles
        * Undead can use adepts for creating pentagrams to darken specific areas"
        [/message]
    [/event]
[/multiplayer]
